/* TODO(you): Write the CSS to finish the assignment! */

.choice-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
}

.choice-grid div{
    display: flex;
    flex-wrap:wrap; 
    border: 1px solid#dcdcdc;
    width: 32.5%;
    background-color: #f4f4f4;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 30px;
    box-sizing: border-box;
}

.choice-grid img{
    width: 100%;
    height:100%;
}

.choice-grid div.checkedItem {
	background-color: #cfe3ff;
}
.choice-grid div.uncheckedItem {
	opacity: 0.6;
}

@media (max-width: 500px) {
    .choice-grid div {
        width: 49%;
    }
  }

@media (max-width: 700px) {
    article {
        width: 95%;
    }
    header div span {
        display: none;
    }
}




.bottom {
	margin: 20px 0;
	padding: 20px;
	border: 1px solid #dcdcdc; 
	box-sizing: border-box;
}

.bottom h1{
	font-size: larger;
	margin: 0;
}

.bottom p {
	margin: 18px 0;
}

.bottom button {
    font-size: 120%;
    background-color: #cecece;
    width: 100%;
    height: 50px;
}

.bottom button:hover {
	background-color: #e0e0e0;
}
